<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO DOWNLOADER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>VIDEO DOWNLOADER</h1>
        <form id="download-form">
            <div class="form-group">
                <label for="url">Digite o link do vídeo:</label>
                <input type="text" id="url" name="url" required>
            </div>
            <div class="form-group">
                <label for="platform">Escolha a Plataforma:</label>
                <select id="platform" name="platform">
                    <option value="youtube">YouTube</option>
                    <option value="instagram">Instagram</option>
                    <option value="tiktok">TikTok</option>
                </select>
            </div>
            <div class="form-group">
                <label for="video_quality">Escolha a qualidade do vídeo:</label>
                <select id="video_quality" name="video_quality">
                    <option value="best">Melhor Qualidade</option>
                    <option value="1080">1080p</option>
                    <option value="720">720p</option>
                    <option value="480">480p</option>
                    <option value="360">360p</option>
                    <option value="240">240p</option>
                </select>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="extract_audio" name="extract_audio">
                <label for="extract_audio">Extrair o áudio?</label>
            </div>
            <button type="submit" id="download-button">Iniciar Download</button>
        </form>
        <button id="update-ytdlp" class="btn btn-secondary">Atualizar yt-dlp</button>
        <div id="progress-container" class="progress-container" style="display: none;">
            <h3>Progresso do Download</h3>
            <div class="progress-bar">
                <div id="progress" class="progress">0%</div>
            </div>
            <p id="progress-text"></p>
            <p id="status-message"></p>
        </div>
        <button id="cancel-button" style="display: none;">Cancelar Download</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>